@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Lora', serif;
    --accent-font: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
header{
    width: 100%;
    padding: 20px;
    background-color: rgb(25, 81, 133);
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
   
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Poppins, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-links li a:hover{
    background-color: bisque;
    color: rgb(25, 81, 133);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}
.nav-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.logo a{
    text-decoration: none;
    color: aqua;
}
span .bx-menu{
    display: none;
}
.hero-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.content{
    align-content: center;
}
.content h1{
    font-family: var(--accent-font);
    color: rgb(29, 204, 195);
}
.content p{
    color: whitesmoke;
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.hero-buttons{
    background-color: brown;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
}
.my-image img{
    height: 400px;
}
#aboutme{
    text-align: center;
}
#aboutme h1{
    font-weight: 1000;
}

#aboutme .me{
    padding:30px 30px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}
.about-links{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.about-links li{
    list-style: none;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    border: 2px solid black;
    padding: 10px 10px;
    border-radius: 10px;
}
.about-links li:hover{
    background-color: coral;
    padding: 10px 10px;
    border-radius: 10px;
}
.about-wrapper{
    padding: 50px;
    border: 3px solid #216cc2;
    margin: 30px 30px;
    border-radius: 20px;
}
.about-wrapper h5{
    color: brown;
    text-decoration: underline;
}

.bur-menu{
    background-color: chocolate;
    padding: 20px;
    border-radius: 20px;
    display: none;
}
.bur-menu ul li{
    list-style: none;
    margin-bottom: 20px;
    margin-right: 10px;
    transition: transorm 0.3s ease;
}
.bur-menu ul li a{
    text-decoration: none;
    color: bisque;
}
.bur-menu ul li:hover{
    transform: scale(1.4);
}
.bur-menu ul li a:hover{
    text-decoration: underline
}
.bx-x{
    right: -100px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
.my-projects h1{
    text-align: center;
}
.row-1{
    display: flex;
    margin: 30px;
    justify-content: center;
    gap: 40px;
    width: 100%;
}
.card{
    text-align: center;
    width: 300px;
    height: 350px;
    padding: 20px;
    border: none;
    border-radius: 15px;

}

footer{
    text-align: center;
    background-color: #216cc2;
    padding-top: 30px;
    padding-bottom: 30px;
}
.bx-link-external{
    font-size: 30px;
    cursor: pointer;
}
@media screen and (max-width: 539px){
    .nav-links{
        display: none;
    }
    span .bx-menu{
        display: block;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
    #aboutme .me{
        padding:15px 10px ;
    }
    .my-image img{
        height: 200px;
    }
}